extends common/layout

block layout-content 
  .main-content 
    h1.page-title Testing Mongoose Using Movies
    each movie in movies 
      div 
        h2 #{movie.title}, #{movie.year}, #{movie.rating}